*.dtmp
*.bkp
# Ignorar todos los archivos relacionados con Informe seguido de cualquier número excepto Informe.tex y Informe.pdf
Informe[0-9]*.aux
Informe[0-9]*.fdb_latexmk
Informe[0-9]*.fls
Informe[0-9]*.log
Informe[0-9]*.out
Informe[0-9]*.synctex.gz
Informe[0-9]*.toc
