*.dtmp
*.bkp
# Ignorar todos los archivos relacionados con Informe seguido de cualquier número excepto Informe.tex y Informe.pdf
Informe\d+.aux
Informe\d+.fdb_latexmk
Informe\d+.fls
Informe\d+.log
Informe\d+.out
Informe\d+.synctex.gz
Informe\d+.toc
